*.pem
*.key
*.crt
*.p12
*.pfx
.*.sw*
node_modules
.vscode/
.eslintcache
.idea/
.node-xmlhttprequest*
.env
.env.*
!.env.example
coverage
coverage.json
.DS_Store
package-lock.json
/db
/tmp
/sslcert/*
!/sslcert/README.md
/travis.pem.enc
