.XDC-card {
    margin-bottom: 30px;
    border-radius: 8px;
    border: none;
    background-image: linear-gradient(-135deg, #ffffff, #ffffff);
    box-shadow: 1px 0 20px rgba(0,0,0,.05);

    &--lighter {
        background-image: linear-gradient(-135deg, #FFFFFF 0%, #FFFFFF 100%);
    }

    &--animated {
        background-image: linear-gradient(-135deg, #2d2d4a, #40406A, #1d1e31);
        background-size: 400% 400%;
        animation: masternodeapp 10s ease infinite;
    }

    @extend %transit;

    .XDC-card__title {
        font-size: 16px;
        font-weight: 500;
        color: $color-text-highlight;
        margin-bottom: 25px;

        &--big {
            font-size: 24px;
            font-weight: 400;
        }
    }

    .XDC-card__subtitle {
        font-size: 14px;
        font-weight: 400;
        display: block;
        color: $color-text-muted;
        margin-top: 10px;
    }

    .XDC-card__text,
    .XDC-card__text a {
        font-size: 30px;
        color: $color-text;
        margin-bottom: 0;
    }

    .card-footer {
        border-radius: 0;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;

        p {
            margin-bottom: 0;
        }

        .btn {
            min-width: 120px;
        }
    }
}

.XDC-card--candidate {

    .card-footer {
        margin-top: 20px;
    }
}
.XDC-card__img{
    position:absolute;
    top:0;
    left:70%;
    padding:2%;
    background-color:#73b2fd;
}
.XDC-card__img1{
    position:absolute;
    top:0;
    left:70%;
    padding:2%;
    background-color:#f2d566;
}
.XDC-card__img2{
    position:absolute;
    top:0;
    left:70%;
    padding:2%;
    background-color:#3dceb6;
}
.XDC-card__img3{
    position:absolute;
    top:0;
    left:70%;
    padding:2%;
    background-color:#f38c9f;
}