.section {
    margin-bottom: 60px;
}

.section-title {
    font-size: 20px;
    font-weight: 200;
    color: #495057;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 40px;

    i[class^="tm-"] {
        font-size: 17px;
        margin-right: 10px;
    }

    &__description {
        font-size: 12px;
        display: block;
        color: $color-text;
        margin-top: 10px;
    }
}

.section--voter {
    margin-bottom: 30px;
}

.section--candidate {

    .section-title .edit-link {
        color: #678be0;

        i {
            vertical-align: -1px;
        }

        &:hover {
            color: #cfcde1;
        }
    }

    .social-links {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .buttons .btn {
        min-width: 120px;
    }

    @include media-breakpoint-only(sm) {

        .text-truncate {
            max-width: 60%;
        }
    }

    @include media-breakpoint-up(sm) {

        .section-title {
            position: relative;
        }
    
        .social-links {
            position: absolute;right: 0;
            bottom: 0;
        }
    }
}

.section--hardware {
    > .row > div:first-child {
        margin-bottom: 60px;
    }
}

.XDC-header {
    background-color: #ffffff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.01);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-top: -10px;
    padding: 34px 24px 24px;
    z-index: 1;
    position: relative;

    &-block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .XDC-header__icon{
                margin-right: 12px;
                font-size: 36px;
            }
            img {
                margin-right: 12px;
            }
            h4, p {
                margin: 0;
            }
        }
        &-right {
            margin: 0;
        }
    }
}